<div id="full-page">
	<div class="section active" id="main">
		<%= render "createapp/slide_sensor" %>
		<%= render "createapp/slide_actuator" %>
		<%= render "createapp/slide_config" %>
		<%= render "createapp/slide_complete" %>
	</div>
</div>
<%= render "createapp/modal_fade" %>
