<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>View Apps</h1>
		<p>在这里，你可以查看来自其他用户的优秀应用，并将其添加到你的应用列表。</p>
		<p>使用搜索，可以快速查找到你需要的应用.</p>
		<div class="input-group">
			<input type="text" class="form-control">
			<span class="input-group-btn"><button class="btn btn-primary" type="button">Search!</button></span>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="apps">
				<div class="top-section">
					<a class="title" href="#">
						<h4>App One</h4>
					</a>
				</div>
				<div class="image-container">
				 	<%= image_tag "test.jpg", class: "img-circle" %> 
				</div>
				<div class="bottom-section">
				这里是关于应用的一些介绍，如应用描述及作者信息
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="apps">
				<div class="top-section">
					<a class="title" href="#">
						<h4>App One</h4>
					</a>
				</div>
				<div class="image-container">
					 <%= image_tag "test.jpg", class: "img-circle" %> 
				</div>
				<div class="bottom-section">
				这里是关于应用的一些介绍，如应用描述及作者信息
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="apps">
				<div class="top-section">
					<a class="title" href="#">
						<h4>App One</h4>
					</a>
				</div>
				<div class="image-container">
					 <%= image_tag "test.jpg", class: "img-circle" %> 
				</div>
				<div class="bottom-section">
				这里是关于应用的一些介绍，如应用描述及作者信息
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="apps">
				<div class="top-section">
					<a class="title" href="#">
						<h4>App One</h4>
					</a>
				</div>
				<div class="image-container">
					<%= image_tag "test.jpg", class: "img-circle" %> 
				</div>
				<div class="bottom-section">
				这里是关于应用的一些介绍，如应用描述及作者信息
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="apps">
				<div class="top-section">
					<a class="title" href="#">
						<h4>App One</h4>
					</a>	
				</div>
				<div class="image-container">
					<%= image_tag "test.jpg", class: "img-circle" %> 
				</div>
				<div class="bottom-section">
				这里是关于应用的一些介绍，如应用描述及作者信息
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="apps">
				<div class="top-section">
					<a class="title" href="#">
						<h4>App One</h4>
					</a>
				</div>
				<div class="image-container">
					<%= image_tag "test.jpg", class: "img-circle" %> 
				</div>
				<div class="bottom-section">
				这里是关于应用的一些介绍，如应用描述及作者信息
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="apps">
				<div class="top-section">
					<a class="title" href="#">
						<h4>App One</h4>
					</a>
				</div>
				<div class="image-container">
					 <%= image_tag "test.jpg", class: "img-circle" %> 		
				</div>
				<div class="bottom-section">
				这里是关于应用的一些介绍，如应用描述及作者信息
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="apps">
				<div class="top-section">
					<a class="title" href="#">
						<h4>App One</h4>
					</a>
				</div>
				<div class="image-container">
					<%= image_tag "test.jpg", class: "img-circle" %>
				</div>
				<div class="bottom-section">
				这里是关于应用的一些介绍，如应用描述及作者信息
				</div>
			</div>
		</div>
	</div>
</div>
